Django>=3.2,<3.3
mysqlclient==2.1.0
django-debug-toolbar
django-crispy-forms
colorful
django_social_share
pyopenssl
django-paypal
sentry-sdk
django-crontab
celery
redis
django-celery-beat
django-bootstrap-modal-forms
crispy-bootstrap5
django-storages
boto3
PyGithub
Django-filter
Pillow
stripe
djangorestframework==3.14.0
pyswagger==0.8.39
drf-yasg==1.21.7
sendgrid
django-cors-headers
django-allauth