Django>=3.2,<3.3
mysqlclient==2.1.0
django-debug-toolbar
python-dotenv
reportlab
Pillow>=10.0.0
qrcode>=7.4.0
stripe>=5.0.0,<6.0.0
django-crispy-forms
colorful
django_social_share
pyopenssl
django-paypal
sentry-sdk
django-crontab
celery
redis
django-celery-beat
django-bootstrap-modal-forms
crispy-bootstrap5
django-storages
boto3
PyGithub
Django-filter
Pillow
stripe
requests
djangorestframework==3.14.0
pyswagger==0.8.39
drf-yasg==1.21.7
sendgrid
django-cors-headers
django-allauth
django-import-export
qrcode
django-tables2
google-generativeai==0.7.2
openai==1.58.1
social-auth-app-django==5.4.2
bs4
httpx==0.27.2 