{% extends "base.html" %}
{% load static %}
{% block page_title %}Bounty List{% endblock %}
{% load custom_filters %}

{% block content %}
  <div class="container my-4">
    <form method="get" action="{% url 'bountys_list' %}" class="mb-4">
      <div class="input-group">
        <input type="search" name="search_query" class="form-control" placeholder="Search for a bounty...">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>

    <form method="get" action="{% url 'bountys_list' %}" class="mb-4">
      <div class="row">
        <div class="col-md-3">
          <div class="mb-3">
            <label for="id_tags" class="form-label">Tags</label>
            <input type="text" class="form-control" id="id_tags" name="tags" value="{{ request.GET.tags }}">
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Filter</button>
    </form>
    <h2>Open Bounties</h2>
    {% if request.GET.search_query %}<div>filtered by: {{ request.GET.search_query }}</div>{% endif %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
      {% for bounty in object_list %}
      <div class="col col-lg-6">
        <div class="card h-100">
          <div class="card-header bg-light">

            {% if bounty.category == "Bug" %}
              <a href="/bounty_detail/{{ bounty.id }}">
                <img src="{% static 'img/bounty_logo.png' %}" class="card-img-top" alt="{{ bounty.title }}">&nbsp;&nbsp;&nbsp;<em><b>BUG</b></em>
              </a>
            {% else %}
              <a href="/bounty_detail/{{ bounty.id }}">
                <img src="{% static 'img/feature.png' %}" class="card-img-top" alt="{{ bounty.title }}">&nbsp;&nbsp;&nbsp;<em><b>FEATURE</b></em>
              </a>
            {% endif %}

          </div>
          <div class="card-body">
            <a href="/bounty_detail/{{ bounty.id }}"><h5 class="card-title">{{ bounty.title }}</h5></a>
            <p class="card-text">{{ bounty.description }}</p>
            <p class="card-text">Tags: <span class="btn btn-outline-info btn-sm">{{ bounty.tags }}</span></p>
            <p class="card-text">Bounty: <span class="btn btn-outline-primary btn-sm"><b>{{ bounty.get_amount_display }}</b></span></p>
            <p class="card-text">Complexity Estimate: {{ bounty.complexity_estimate }}</p>
            <p class="card-text">Status: {{ bounty.status }}</p>
            {% if bounty.screenshot.url %}
            <a href="/bounty_detail/{{ bounty.id }}">
            <img src="{{ bounty.screenshot.url }}" class="screenshot-list" alt="{{ bounty.title }}"> 
            </a>
            {% endif %}
            <ul class="list-group list-group-flush">
              {% for issue in bounty.issues.all %}
              <li class="list-group-item">
                <h6>{{ issue.title }}</h6>
                <p>{{ issue.description }}</p>
                <p>Language: {{ issue.language }}</p>
                <p>Framework: {{ issue.framework }}</p>
                <p>Estimated Complexity: {{ issue.complexity_estimate }}</p>
              </li>
              {% endfor %}
            </ul>
            <div class="d-grid gap-2">
              <a href="/bounty_detail/{{ bounty.id }}" class="btn btn-primary" type="button">Bounty Details</a>
              {% if request.user == bounty.owner or user.is_staff  %}
              <a href="/bounty_update/{{ bounty.id }}" class="btn btn-info" type="button">EDIT Bounty Details</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>



{% endblock content %}
