{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>{{ bounty.title }}</h1>
      <p><strong>Skills:</strong> {{ bounty.skills }}</p>
      <p><strong>Level:</strong> {{ bounty.get_level_display }}</p>
      <p><strong>Description:</strong> {{ bounty.description }}</p>
      <p><strong>Certification:</strong> {{ bounty.certification }}</p>
      <p><strong>Amount:</strong> {{ bounty.get_amount_display }}</p>
      <p><strong>Issue ID:</strong> {{ bounty.issue_id }}</p>
      <p><strong>Complexity Estimate:</strong> {{ bounty.get_complexity_estimate_display }}</p>
      <p><strong>URL:</strong> <a href="{{ bounty.url }}">{{ bounty.url }}</a></p>
      <p><strong>Status:</strong> {{ bounty.get_status_display }}</p>
      <p><strong>Tags:</strong>
        {% for tag in bounty.tags.all %}
          <span class="badge badge-primary">{{ tag.name }}</span>
        {% endfor %}
      </p>
      {% if request.user.is_authenticated and request.user.bountyhunter %}
        <form method="post" action="{% url 'submit_user_for_bounty' bounty.pk %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-secondary">Submit Your Profile for this Bug Bounty</button>
        </form>
        <br/>
    {% endif %}
    

    </div>
    <div class="col-md-4">
      <h3>Issue Details</h3>
      <p><strong>Title:</strong> {{ issue.title }}</p>
      <p><strong>Description:</strong> {{ issue.description }}</p>
      <p><strong>Issue Number:</strong> {{ issue.issue_number }}</p>
      <p><strong>Issue URL:</strong> <a href="{{ issue.issue_url }}">{{ issue.issue_url }}</a></p>
      <p><strong>Priority:</strong> {{ issue.priority }}</p>
      <p><strong>Complexity Estimate:</strong> {{ issue.complexity_estimate }}</p>
      <p><strong>Language:</strong> {{ issue.language }}</p>
      <p><strong>Framework:</strong> {{ issue.framework }}</p>
      <p><strong>Hosting Environment:</strong> {{ issue.hosting_environment }}</p>
      {% if bounty.issue.screenshot %}
        <p><strong>Screenshot:</strong> <img src="{{ issue.screenshot.url }}" class="img-thumbnail"></p>
      {% endif %}
    </div>
  </div>
  <h2>Submitted Bounty Hunters</h2>
    {% if submissions %}
    <table class="table">
    <thead>
        <tr>
        <th>Name</th>
        <th>Skills</th>
        <th>Experience</th>
        <th>Status</th>
        <th></th>
        </tr>
    </thead>
    <tbody>
        {% for submission in submissions %}
        <tr>
        <td>{{ submission.bounty_hunter.user.username }}</td>
        <td>{{ submission.bounty_hunter.skills }}</td>
        <td>{{ submission.bounty_hunter.experience }}</td>
        <td>{{ submission.get_status_display }}</td>
        {% if request.user is bounty.owner %}
        <td>
            <form method="POST" action="{% url 'bounty_detail' pk=bounty.id %}">
            {% csrf_token %}
            <input type="hidden" name="selected_submission" value="{{ submission.bounty_hunter.id }}">
            <button type="submit" class="btn btn-success">Accept</button>
            </form>
        </td>
        {% endif %}
        </tr>
        {% endfor %}
    </tbody>
    </table>

    {% if request.user is bounty.owner %}Hello!
      {% if bounty.amount is "Small"%}
      <script async
        src="https://js.stripe.com/v3/buy-button.js">
      </script>
      
      <stripe-buy-button
        buy-button-id="buy_btn_1NCAGpDbhtSYlwrCtGIO9x9L"
        publishable-key="pk_live_LLLY0VOLdioitv9tINPOFts200Wjjb8WUn"
      >
      </stripe-buy-button>

      {% endif %}

      {% if bounty.amount is "Medium"%}
      <script async
        src="https://js.stripe.com/v3/buy-button.js">
      </script>
      
      <stripe-buy-button
        buy-button-id="buy_btn_1NCAGpDbhtSYlwrCtGIO9x9L"
        publishable-key="pk_live_LLLY0VOLdioitv9tINPOFts200Wjjb8WUn"
      >
      </stripe-buy-button>

      {% endif %}
      {% if bounty.amount is "Large"%}
        <script async
          src="https://js.stripe.com/v3/buy-button.js">
        </script>

        <stripe-buy-button
          buy-button-id="buy_btn_1NCAInDbhtSYlwrC2eBM65qo"
          publishable-key="pk_live_LLLY0VOLdioitv9tINPOFts200Wjjb8WUn"
        >
        </stripe-buy-button>
        {% endif %} 
        {% if bounty.amount is "XL"%}
        <script async
          src="https://js.stripe.com/v3/buy-button.js">
        </script>
        
        <stripe-buy-button
          buy-button-id="buy_btn_1NCALVDbhtSYlwrCncDl3WXl"
          publishable-key="pk_live_LLLY0VOLdioitv9tINPOFts200Wjjb8WUn"
        >
        </stripe-buy-button>
        {% endif %} 
        {% if bounty.amount is "XXL"%}
         <script async
            src="https://js.stripe.com/v3/buy-button.js">
          </script>
          
          <stripe-buy-button
            buy-button-id="buy_btn_1NCAMEDbhtSYlwrCzVdm0nh8"
            publishable-key="pk_live_LLLY0VOLdioitv9tINPOFts200Wjjb8WUn"
          >
          </stripe-buy-button>
        {% endif %} 
    {% endif %}
    {% else %}
    <p>No submissions yet.</p>
    {% endif %}
  <a type="submit" class="btn btn-primary" href="/bounties">Back to Bounty List</a>

</div>
{% endblock %}
