{% extends "base.html" %}
{% load static %}
{% block page_title %}Market Place{% endblock %}
{% load custom_filters %}

{% block content %}
  <div class="container my-4">
    <!-- Header Section -->
  <header style="text-align: center; padding: 20px;">
    <div style="display: flex; justify-content: center; align-items: center;">
      <img src="{% static 'img/6.png' %}" alt="Centered Image" style="max-width: 400px;">
      <h1 style="margin-left: 20px;">Partner Marketplace</h1>
    </div>
  </header>
   
    <h2>Product and Partners</h2>
    {% if request.GET.search_query %}<div>filtered by: {{ request.GET.search_query }}</div>{% endif %}
      <div class="container">
      <!-- CONTAINER-->
        <div class="row">
        <!-- ROW -->  
          <div class="col-md-8">
              <h1>Welcome to the Marketplace</h1>

              <h2>Products</h2>
              <ul>
                  {% for product in products %}
                      <li>{{ product.name }} - {{ product.description }}</li>
                  {% empty %}
                      <li>No products available.</li>
                  {% endfor %}
              </ul>
          </div>

          <div class="col-md-4">
              <h2>Suggested Vendors</h2>
              <ul>
                  {% for vendor in suggested_vendors %}
                      <li>{{ vendor.agency_name }}</li>
                  {% empty %}
                      <li>No suggested vendors available.</li>
                  {% endfor %}
              </ul>
          </div>
        <!-- END ROW-->  
        </div>
      <!-- END CONTAINER -->  
      </div>
    </div>
  </div>



{% endblock content %}
