{% load static %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div class="hero-container">
      <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide 1 -->
          <div class="carousel-item active" data-bs-interval="5000" style="background-image: url({% static 'assets/img/slide/slide-1.jpg' %})">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Welcome to the <a href="https://www.buildly.io">Buildly</a> Collab Hub and Partner CollabHub</h2>
                <p class="hero-light">
                  The CollabHub brings together, product teams with remote development agencies to build great products together using <a href="https://labs.buildly.io">Buildly Labs</a>.  
                  Here you can <em>find a team to build your new product, or help you migrate that legacy system to the cloud</em>.  Or if you just a have a small feature or bug that needs fixing, 
                  you can use the CollabHub to find a developer to help you out.
                  <br/>
                  <br/>
                  <a href="https://www.buildly.io">Buildly Labs</a> is a platform that helps you <b>build your product fast</b> and automate the annoy and slow processes away, and the CollabHub is where you can find the help you need to get it done.
                  <br/>
                  <b>Product Teams</b>: Sign up @ <a href="https://labs.buildly.io">Buildly</a> and get access to the the Product Labs and the CollabHub. <br/> 
                  and <em>Agencies</em>: Sign up @ <a href="/parter">Partner</a> and get access to the CollabHub.
                </p>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item"  data-bs-interval="5000" style="background-image: url({% static 'assets/img/slide/slide-2.jpg' %})">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Small Targeted <span>Bounties</span></h2>
                  <p class="animate__animated animate__fadeInUp">Bounites can be <b>new features, bugs or process refinements</b>.  It's those small annoying things you need fixed, and fixed right.</p>
                  <a href="/register" class="btn-get-started animate__animated animate__fadeInUp">Request Access</a>
              </div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div class="carousel-item active" data-bs-interval="5000" style="background-image: url({% static 'assets/img/slide/slide-1.jpg' %})">
            <div class="carousel-container">
                <div class="carousel-content">
                    <h2 class="animate__animated animate__fadeInDown">Enhance Your Release Testing with Punchlist</h2>
                    <p class="hero-light">
                        Introducing <b>Punchlist</b>, your essential tool for efficient release testing and bug tracking, seamlessly integrated with <a href="https://labs.buildly.io">Buildly Product Labs</a>.
                        <br/><br/>
                        Use the <a href="https://chromewebstore.google.com/detail/punchlist/pglidllklbmjllilnoainiaplpbknejh" target="_blank">Punchlist Chrome plugin</a> to easily report and fix bugs, ensuring your products are of the highest quality.
                        <br/><br/>
                        With Buildly Product Labs, you can quickly develop, test, and refine your cloud-native applications. Punchlist helps streamline this process, allowing your team to focus on innovation rather than troubleshooting.
                        <br/><br/>
                        <a href="https://chromewebstore.google.com/detail/punchlist/pglidllklbmjllilnoainiaplpbknejh" target="_blank" class="btn btn-primary">Get Punchlist Now</a>
                    </p>
                </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>
    </div>
  </section><!-- End Hero -->
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <main id="main">


    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <img src="{% static 'img/5.png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <h3>Supercharge Your Development with Buildly CollabHub</h3>
            <p>Welcome to Buildly CollabHub, your gateway to building cloud-native products faster and more efficiently. Seamlessly connected to Buildly Labs, CollabHub offers you the resources and support you need to accelerate your development process.</p>
            <p>Need a developer or a team to bring your vision to life even quicker? Buildly Labs has you covered. By leveraging our open-source Buildly RAD Core framework on <a href="https://www.github.com/buildly.io" target="_blank">GitHub</a>, you can rapidly prototype, develop, and scale your applications. Plus, with our innovative tools, you can streamline your workflow and enhance collaboration.</p>
            <ul>
                <li><strong>Find Expert Developers:</strong> Access a curated pool of talented developers ready to tackle your project needs through Buildly Labs.</li>
                <li><strong>Use Our Open-Source Framework:</strong> Build faster with the Buildly RAD Core, designed to simplify and speed up the development process.</li>
                <li><strong>Enhance Your Testing:</strong> Report and fix bugs efficiently using our <a href="https://chromewebstore.google.com/detail/punchlist/pglidllklbmjllilnoainiaplpbknejh" target="_blank">Punchlist Chrome plugin</a>, perfect for release testing and ensuring top-quality products.</li>
            </ul>
            <p>Join the Buildly community and take your cloud-native development to the next level. Whether you're a startup founder or an experienced developer, Buildly CollabHub is here to help you succeed.</p>
          </div>
        
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">
    
        <div class="section-title">
          <h2>Partner Levels</h2>
          <p>The feature list and support grow with each level. Choose the best plan for your needs and start accelerating your development process today.</p>
        </div>
    
        <div class="row">
    
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <h3>Free CollabHub Partner</h3>
              <h4><sup>$</sup>0<span> / month</span></h4>
              <ul>
                <li>Listing in Partner Directory</li>
                <li>Referral Fee for Successful Projects</li>
                <li class="na">Bid on Products</li>
                <li class="na">Portfolio Manager</li>
                <li class="na">Punchlist and Bounty Program</li>
                <li class="na">Open Cloud Kit Certificate</li>
              </ul>
              <div class="btn-wrap">
                <a href="https://insights.buildly.io/register" class="btn-buy">Register Now</a>
              </div>
            </div>
          </div>
    
          <div class="col-lg-4 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="box featured">
              <h3>Buildly Labs Partner</h3>
              <h4><sup>$</sup>70<span> / month</span></h4>
              <ul>
                <li>Everything in Free</li>
                <li>Bid on Products</li>
                <li>Access to Portfolio Manager</li>
                <li class="na">Punchlist and Bounty Program</li>
                <li class="na">Open Cloud Kit Certificate</li>
              </ul>
              <div class="btn-wrap">
                <a href="https://insights.buildly.io/register" class="btn-buy">Register Now</a>
              </div>
            </div>
          </div>
    
          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <h3>Certified Partner</h3>
              <h4><sup>$</sup>70<span> / month</span> + Certification</h4>
              <ul>
                <li>Everything in Labs</li>
                <li>Punchlist and Bounty Program</li>
                <li>Open Cloud Kit Certificate and Badge</li>
                <li>Higher Ranking and Recommendation</li>
              </ul>
              <div class="btn-wrap">
                <a href="https://insights.buildly.io/register" class="btn-buy">Register Now</a>
              </div>
            </div>
          </div>
    
        </div>
    
      </div>
    </section><!-- End Pricing Section -->
  
  </main>