{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>{{ punchlisthunter.user.fullname }}</h1>
      <p><strong>Skills:</strong> {{ punchlisthunter.skills }}</p>
      <p><strong>Experieince:</strong> {{ punchlisthunter.experieince }}</p>
      <p><strong>Description:</strong> {{ punchlisthunter.description }}</p>
  
    </div>
   
  <a type="submit" class="btn btn-primary" href="/bounties">Back to Punchlist List</a>

</div>
{% endblock %}
