{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<!-- Header Section -->
<header style="background-color: #f0f0f0; text-align: center; padding: 8px;">
    <img src="{% static 'img/5.png' %}" alt="Centered Image" style="max-height: 200px; width: 100%; object-fit: cover;">
    <h1>Submit a <b>Bug</b> to be Reviewed</h1>
</header>
<form method="post" action="{% url 'bug_add' %}">
    <br/>
    <p>Submit a bug from one of our partner sites, or any site and we will help set up a punchlist and give you credit for finding it, and inquire about a finders fee for you:</p>
    {% csrf_token %}
    {{ form|crispy }}

    <h3>Additional Information</h3>
    <p>Please provide as much detail as possible about the bug you found:</p>

    <div class="form-group">
        <label for="id_description">Description</label>
        <textarea id="id_description" name="description" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label for="id_steps_to_reproduce">Steps to Reproduce</label>
        <textarea id="id_steps_to_reproduce" name="steps_to_reproduce" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label for="id_screenshots">Screenshots</label>
        <input type="file" id="id_screenshots" name="screenshots" class="form-control-file">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}