{% extends "base.html" %}
{% load static %}
{% block page_title %}Punchlist List{% endblock %}
{% load custom_filters %}

{% block content %}
  <div class="container my-4">
    <!-- Header Section -->
  <header style="text-align: center; padding: 20px;">
    <div style="display: flex; justify-content: center; align-items: center;">
      <img src="{% static 'img/6.png' %}" alt="Centered Image" style="max-width: 400px;">
      <h1 style="margin-left: 20px;">Find an <b>Open Punchlist</b> to Participate</h1>
    </div>
  </header>
    <form method="get" action="{% url 'punchlists_list' %}" class="mb-4">
      <div class="input-group">
        <input type="search" name="search_query" class="form-control" placeholder="Search for a punchlist...">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>

    <form method="get" action="{% url 'punchlists_list' %}" class="mb-4">
      <div class="row">
        <div class="col-md-3">
          <div class="mb-3">
            <label for="id_tags" class="form-label">Tags</label>
            <input type="text" class="form-control" id="id_tags" name="tags" value="{{ request.GET.tags }}">
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Filter</button>
    </form>
    <h2>Open Punchlist</h2>
    {% if request.GET.search_query %}<div>filtered by: {{ request.GET.search_query }}</div>{% endif %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
      {% for punchlist in object_list %}
      <div class="col col-lg-6">
        <div class="card h-100">
          <div class="card-header bg-light">

            {% if punchlist.category == "Bug" %}
              <a href="/punchlist_detail/{{ punchlist.id }}">
                <img src="{% static 'img/punchlist_logo.png' %}" class="card-img-top" alt="{{ punchlist.title }}">&nbsp;&nbsp;&nbsp;<em><b>BUG</b></em>
              </a>
            {% else %}
              <a href="/punchlist_detail/{{ punchlist.id }}">
                <img src="{% static 'img/feature.png' %}" class="card-img-top" alt="{{ punchlist.title }}">&nbsp;&nbsp;&nbsp;<em><b>FEATURE</b></em>
              </a>
            {% endif %}

          </div>
          <div class="card-body">
            <p class="card-text">Category: {{ punchlist.category }}</p>
            <p class="card-text">Public List: {{ punchlist.is_public }}</p>
            <p class="card-text">{{ punchlist.description }}</p>
            <a href="/punchlist_detail/{{ punchlist.id }}"><h5 class="card-title">{{ punchlist.title }}</h5></a>
            <p class="card-text">{{ punchlist.description }}</p>
            <p class="card-text">Tags: <span class="btn btn-outline-info btn-sm">{{ punchlist.tags }}</span></p>
            <p class="card-text">Punchlist: <span class="btn btn-outline-primary btn-sm"><b>{{ punchlist.get_amount_display }}</b></span></p>
            <p class="card-text">Complexity Estimate: {{ punchlist.complexity_estimate }}</p>
            <p class="card-text">Status: {{ punchlist.status }}</p>
            {% if punchlist.screenshot.url %}
            <a href="/punchlist_detail/{{ punchlist.id }}">
            <img src="{{ punchlist.screenshot.url }}" class="screenshot-list" alt="{{ punchlist.title }}"> 
            </a>
            {% endif %}
            <ul class="list-group list-group-flush">
              {% for issue in punchlist.issues.all %}
              <li class="list-group-item">
                <h6>{{ issue.title }}</h6>
                <p>{{ issue.description }}</p>
                <p>Language: {{ issue.language }}</p>
                <p>Framework: {{ issue.framework }}</p>
                <p>Estimated Complexity: {{ issue.complexity_estimate }}</p>
              </li>
              {% endfor %}
            </ul>
            <div class="d-grid gap-2">
              <a href="/punchlist_detail/{{ punchlist.id }}" class="btn btn-primary" type="button">Punchlist Details</a>
              {% if request.user == punchlist.owner or user.is_staff  %}
              <a href="/punchlist_update/{{ punchlist.id }}" class="btn btn-info" type="button">EDIT Punchlist Details</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>



{% endblock content %}
