{% load static %}
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div class="carousel-inner" role="listbox">
        <!--- Slide 1 -->
        <div class="carousel-item active" data-bs-interval="5000" style="background-image: url({% static 'assets/img/slide/slide-1.jpg' %})">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Buildly CollabHub</span></h2>
              <p class="animate__animated animate__fadeInUp">Seamlessly connected to Buildly Labs, CollabHub offers you the resources and support you need to accelerate your development process.</p>
              <div>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Get Started</a>
              </div>
            </div>
          </div>
        </div>
        <!--- Slide 2 -->
        <div class="carousel-item active" data-bs-interval="5000" style="background-image: url({% static 'assets/img/slide/slide-1.jpg' %})">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown"><span>Developers & Software Agencies</span></h2>
              <p class="animate__animated animate__fadeInUp">Get Free access to the punchlist bug tracker, product registration and bounty programs.</p>
              <div>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Get Started</a>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </section><!-- End Hero -->
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <main id="main">


    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <img src="{% static 'img/skills-img.jpg' %}" class="img-fluid" alt="user collaborting on computers in an office setting">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <h3>Supercharge Your Development with Buildly CollabHub</h3>
            <p>Welcome to Buildly CollabHub. Seamlessly connected to <a href="https://labs.buildly.io">Buildly Labs</a>, CollabHub offers you the resources and support you need to accelerate your development process.</p>
            <ul>
                <li><strong>Get a Free Feasibility Study:</strong> Submit your product to Buildly Labs and receive a free feasibility study to help you determine the best course of action. (SNEAK PREVIEW AVAILABLE IN COLLABHUB!)</li>
                <li><strong>Find Expert Developers:</strong> Access a curated pool of talented developers ready to tackle your project needs through Buildly Labs.</li>
                <li><strong>Use Our Open-Source Framework:</strong> Build faster with the Buildly RAD Core, designed to simplify and speed up the development process.</li>
                <li><strong>Open-Source and Ethical AI:</strong> Connect and test your AI agencts and more with our <a href="https://www.github.com/open-build">BabbleBeaver</a> light weight open source modules.</li>
                <li><strong>Enhance Your Testing:</strong> Report and fix bugs efficiently using our <a href="https://chromewebstore.google.com/detail/punchlist/pglidllklbmjllilnoainiaplpbknejh" target="_blank">Punchlist Chrome plugin</a>, perfect for release testing and ensuring top-quality products.</li>
            </ul>
          </div>
        
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">
    
        <div class="section-title">
          <h2>Partner Levels</h2>
          <p>The feature list and support grow with each level. Choose the best plan for your needs and start accelerating your development process today.</p>
        </div>
    
        <div class="row">
    
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <h3>Free CollabHub Partner</h3>
              <h4><sup>$</sup>0<span> / month</span></h4>
              <ul>
                <li>Listing in Partner Directory</li>
                <li>Referral Fee for Successful Projects</li>
                <li class="na">Bid on Products</li>
                <li class="na">Portfolio Manager</li>
                <li class="na">Punchlist and Agency Program</li>
              </ul>
              <div class="btn-wrap">
                <a href="/partner" class="btn-buy">Register Now</a>
              </div>
            </div>
          </div>
    
          <div class="col-lg-4 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="box featured">
              <h3>Buildly Labs Partner</h3>
              <h4><sup>$</sup>70<span> / month</span></h4>
              <ul>
                <li>Everything in Free</li>
                <li>Bid on Products</li>
                <li>Access to Portfolio Manager</li>
                <li class="na">Punchlist and Punchlist Program</li>
              </ul>
              <div class="btn-wrap">
                <a href="https://insights.buildly.io/register" class="btn-buy">Register Now</a>
              </div>
            </div>
          </div>
    
          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <h3>Certified Partner</h3>
              <h4><sup>$</sup>70<span> / month</span> + Certification</h4>
              <ul>
                <li>Everything in Labs</li>
                <li>Punchlist and Punchlist Program</li>
                <li>Open Cloud Kit Certificate and Badge</li>
                <li>Higher Ranking and Recommendation</li>
              </ul>
              <div class="btn-wrap">
                <a href="https://insights.buildly.io/register" class="btn-buy">Register Now</a>
              </div>
            </div>
          </div>
    
        </div>
    
      </div>
    </section><!-- End Pricing Section -->
  
  </main>