{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- onboarding/templates/dashboard.html -->

<h2>Your Dashboard</h2>

{% if resources %}
    <h3>Resources</h3>
    <ul>
        {% for resource in resources %}
        <li>
            {{ resource.title }}
            {% if resource.link %}
                - <a href="{{ resource.link }}">Link</a>
            {% endif %}
            {% if resource.document %}
                - <a href="{{ resource.document.url }}">Download</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No resources available.</p>
{% endif %}

{% if calendar_embed_code %}
    <h3>Your Calendar</h3>
    <div>
        {{ calendar_embed_code|safe }}
    </div>
{% endif %}

{% if submissions %}
    <h3>Submissions</h3>
    <div>
        {% for submission in submissions %}
        <li>
            {{ submission.name }}
            {% if submission.email %}
                - <a href="{{ submission.email }}">{{ submission.email }}</a>
            {% endif %}
            {% if submission.description %}
                - {{ submission.description }}
            {% endif %}
        </li>
        {% endfor %}
    </div>
{% endif %}

{% if qr_codes %}
    <h3>QR Codes</h3>
    <div>
        {% for qr_code in qr_codes %}
        <li>
            {{ qr_code.unique_url }}
        <li>
            <img src="{% static 'media/qr_codes/' %}{{ qr_code.qr_code }}" alt="QR Code">
        </li>
        {% endfor %}

{% endblock %}
