{% load i18n %}
{% load static %}

  
  <body class="page-index">
  
    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center fixed-top">
      <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
  

        <a href="/">
          <img src="{% static 'img/svg/logoDevhunter.svg' %}" width="250">
        </a>
  
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
  
        <nav id="navbar" class="navbar">
          <ul>
            <li></li><a href="/hunters/dashboard/1" class="nav-item nav-link active">Dashboard</a></li>
            {% if user.is_authenticated %} 
            <li></li><a href="/hunter_add/" class="nav-item nav-link">Start a Hunt</a></li>
            <li></li><a href="/hunters/" class="nav-item nav-link">Your Hunts</a></li>
            {% endif %}

            {% if user.is_authenticated %}              
            <i>Welcome, {{user.username}}</i>
            <li><a class="dropdown-item" href="/register">Account Details</a> </li>
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
            
            {% else %}
          
            <li><a class="nav-item nav-link" href="/register">Register</a></li>
            <li><a class="nav-item nav-link" href="/login">Login</a></li>
            {% endif %}
          </ul>
        </nav><!-- .navbar -->
  
      </div>
    </header><!-- End Header -->



