{% load i18n %}
{% load static %}
  <!--Double navigation-->
  <header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
      <div class="logo">
        <a href="/">
          <img src="{% static 'img/svg/logoDevhunter.svg' %}" width="150" class="img-fluid flex-center">
        </a>
      </div>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <div class="navbar-nav">
              <a href="/hunters/dashboard/1" class="nav-item nav-link active">Dashboard</a>
              <a href="/hunter_add/" class="nav-item nav-link">Start a Hunt</a>
              <a href="/hunters/" class="nav-item nav-link">Your Hunts</a>
          </div>

          <div class="navbar-nav">
            <div class="nav-item">
              {% if user.is_authenticated %}  
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  <i>Welcome, {{user.username}}</i></a>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="/register">Account Details</a> </li>
                  <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
              </div>
              {% else %}
              <a class="nav-item nav-link" href="/register">Register</a>
              {% endif %}
            </div>
            <div>
              &nbsp;
            </div>
          </div>

      </div>
  </div>
</nav>
</header>


