{% load static %}
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide 1 -->
          <div class="carousel-item active" data-bs-interval="8000" style="background-image: url(/static/assets/img/slide/slide-1.jpg)">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">
                  <div class="logo">
                    <a href="/"><img src="{% static 'img/devhunter_logo.png' %}" width="250" alt="DevHunter Logo" class="img-fluid"></a>
                  </div>
                </h2>
                <p class="animate__animated animate__fadeInUp">
                  Find the right developer for your job.</p>
                  <p class="animate__animated animate__fadeInUp">In desperate need of help finding a developer now?</p>
                  <a href="/register" class="btn-get-started animate__animated animate__fadeInUp">Request Beta Access</a>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item"  data-bs-interval="5000" style="background-image: url(/static/assets/img/slide/slide-2.jpg)">
            <div class="carousel-container">
              <div class="carousel-content">
                <div class="animate__animated animate__fadeInDown">
                  <a href="/"><img src="{% static 'img/devhunter_logo.png' %}" width="250" alt="DevHunter Logo" class="img-fluid"></a>
                </div>
                <p class="animate__animated animate__fadeInUp">WE ARE A STARTUP IN STEALTH MODE.</p>
                  <p class="animate__animated animate__fadeInUp">In desperate need of help finding a developer now? Don't waste time and money on complicated LinkedIn searches and expensive head hunters. Use DEV HUNTERS to find the perfect developer for your team and take your business to the next level.</p>
                  <a href="/register" class="btn-get-started animate__animated animate__fadeInUp">Request Beta Access</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Featured Section ======= -->
    <section id="featured" class="featured">
      <div class="container">

        <div class="row">
          <div class="col-lg-4">
            <div class="icon-box">
              <i class="bi bi-card-checklist"></i>
              <h3><a href="">Hunt for Devs</a></h3>
              <p>Say goodbye to expensive head hunters and complicated LinkedIn searches. With DEV HUNTERS, you can save time and money while finding the perfect developer for your team.
                LinkedIn and head hunters can be effective, but they can also be complicated, time-consuming, and expensive. You have to spend countless hours searching for the right candidates, filtering through a sea of resumes, and paying high fees to recruitment agencies. This is where DEV HUNTERS comes in.</p>
            </div>
          </div>
          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="bi bi-bar-chart"></i>
              <h3><a href="">Pre Screen and Present</a></h3>
              <p>Our platform uses intelligent algorithms to match you with the best developers based on your specific needs. We take a personal approach to the hiring process, ensuring that we understand your business and your unique requirements.
                By using DEV HUNTERS, you can save money on recruitment fees and reduce the time and effort it takes to find the perfect developer. We make it easy for you to search for and filter candidates based on location, skills, and experience, so you can find the right fit for your team.</p>
            </div>
          </div>
          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="bi bi-binoculars"></i>
              <h3><a href="">Quick and Effective</a></h3>
              <p>Our team of experienced HR professionals also reviews each candidate before they are presented to you, ensuring that we only present you with the best matches. This personal touch means that you don't just receive a list of candidates, but real people who have the skills and experience to make a positive impact on your business.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Featured Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <img src="/static/assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <h3>Looking for devs today is a nightmare!</h3>
            <p >
              <b>Finding the best developers to join your team can be a time-consuming and costly process.</b> Our platform uses the latest AI technology combined with a human touch to make the hunting process faster, easier, and more effective.
              Our team of experienced developers and talent seekers professionals have designed a platform that uses intelligent algorithms to match companies with the best developers based on their skills, experience, and cultural fit. We understand that the success of your business depends on the quality of your team, which is why we take a comprehensive approach to matching companies with the right talent.
              <b>We don't rely on AI alone. </b>
             </p>
             <p>
              Our experienced team of professionals takes a personal approach to the hiring process, reviewing each candidate before they are presented to a company. This ensures that we are not just matching you with a list of keywords, but with real people who have the skills and experience to make a positive impact on your business.
              <b>We are dedicated to making the hunting process simple, effective, and affordable.</b> Our platform is designed to save you time and money, so you can focus on growing your business. Join our community today and let us help you find the perfect developer for your team!
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <section id="clients" class="clients">
      <div class="container">
        &nbsp;
      </div>
    </section>
  
  </main>