{% load static %}
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide 1 -->
          <div class="carousel-item active" data-bs-interval="8000" style="background-image: url(/static/assets/img/slide/slide-1.jpg)">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">
                  <div class="logo">
                    <a href="/"><img src="{% static 'img/svg/logoDevhunter.svg' %}" width="250" alt="DevHunter Logo" class="img-fluid"></a>
                  </div>
                </h2>
                <p class="animate__animated animate__fadeInUp">
                  Find the right developer for your job.</p>
                  <p class="animate__animated animate__fadeInUp">In desperate need of help finding a developer now?</p>
                  <a href="/register" class="btn-get-started animate__animated animate__fadeInUp">Request Beta Access</a>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item"  data-bs-interval="5000" style="background-image: url(/static/assets/img/slide/slide-2.jpg)">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Dev<span>Hunter</span></h2>
                <p class="animate__animated animate__fadeInUp">WE ARE A STARTUP IN STEALTH MODE.</p>
                  <p class="animate__animated animate__fadeInUp">In desperate need of help finding a developer now?</p>
                  <a href="/register" class="btn-get-started animate__animated animate__fadeInUp">Request Beta Access</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Featured Section ======= -->
    <section id="featured" class="featured">
      <div class="container">

        <div class="row">
          <div class="col-lg-4">
            <div class="icon-box">
              <i class="bi bi-card-checklist"></i>
              <h3><a href="">Hunt for Devs</a></h3>
              <p>Having trouble finding or attracting great developers for your startup? You came to the right place! Save weeks of time and let us do the job for you!</p>
            </div>
          </div>
          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="bi bi-bar-chart"></i>
              <h3><a href="">Pre Screen and Present</a></h3>
              <p>He help you define hiring criteria, source potential candidates and reach out to your prospects faster. We are familiar with online and offline sourcing techniques that will allow you to meet your new devs in no time.</p>
            </div>
          </div>
          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="bi bi-binoculars"></i>
              <h3><a href="">Quick and Effective</a></h3>
              <p>We help you in every step of the way. All of the tasks are carried out by our team, so that you can spend your time on your business without having to deal with all the stress associated with hunting for the right developer.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Featured Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <img src="/static/assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <h3>Looking for devs today is a nightmare!</h3>
            <p class="fst-italic">
              Stop struggling with unseen job posts and candidate searching tools! We understand the pain you may be living today. 
              Developers are not easy to find and it becomes overwhelming when you need them for a specific task you require to take your company to the next level. 
              Let us do the job for you.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <section id="clients" class="clients">
      <div class="container">
        &nbsp;
      </div>
    </section>
  
  </main>